{% extends "base.html" %}


{% block main %}

<h2 style="text-align: center;"><span class="fa fa-lightbulb"></span>Q&A. Prepararion</h2>
<p>Please wirte a query that only returns the ID of the papers. 
    The engine will index the abstracs to the elasticsearch service to that you can
    ask questions on them.
</p>
<form  action="/qanda_pre" method="post">
        <input type="hidden" name="form2" value="index_docs" />
        <div class="form-group row">
            <label for="query" class="offset-md-1 col-2">
                Query (Redshift)
            </label>
            <div class="col-7">
                <input type="text" 
                class="form-control" 
                id="query" name="query" placeholder="query">
            </div>  
        </div>
        <div class="form-group row">
            <div class="col-12" style="text-align: center;">
                <button type="submit" class="btn btn-primary" >Execute</button>
            </div>
        </div>
</form>
{% endblock %}